.img-icon{
	width: 85%;
}

.sub-menu li a{
	padding-left: 50px;
	display: block;
}

.sub-menu2 li a{
	padding-left: 60px;
	display: block;
}

.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

.color-circle{
	background-color: #ffff;
}

.color-icon{
	color: #448aff;
}

.color-icon-danger{
	color: #d9831f;
}